.alert{
    padding: 0.7rem 1rem;
    color: var(--text-white);
    border: 1px solid transparent;
}
.alert.primary{
    background-color: var(--primary-light);
}
.alert.secondary{
    background-color: var(--primary-dark);
}
.alert.success{
    background-color: var(--success);
}
.alert.danger{
    background-color: var(--danger);
}
.alert.primary-outline{
    color: var(--primary-light);
    border: 1px solid var(--primary-light);
}
.alert.secondary-outline{
    color: var(--gray-dark);
    border: 1px solid var(--gray-dark);
}
.alert.success-outline{
    color: var(--success);
    border: 1px solid var(--success);
}
.alert.danger-outline{
    color: var(--danger);
    border: 1px solid var(--danger);
}

