

.btn{
    padding : 0.5rem 1rem;
    border: 1px solid transparent;
    border-radius : 3px;
    color: var(--text-white);
    background-color: var(--primary-dark);
    font-weight: 700;
}

.btn-primary{
    background-color: var(--primary-light);
}
.btn-secondary{
    background-color: var(--gray-lighter);
    color: var(--gray-dark);
}
.btn-danger{
    background-color: var(--danger);
}
.btn-success{
    background-color: var(--success);
}

.btn-outline{
    background: transparent;
    border: 1px solid var(--primary-dark);
    color: var(--primary-dark);
}
.outline-primary{
    border: 1px solid var(--primary-light);
    color: var(--primary-light);
}
.outline-secondary{
    border: 1px solid var(--gray-dark);
    color: var(--gray-dark);
}
.outline-danger{
    border: 1px solid var(--danger);
    color: var(--danger);
}
.outline-success{
    border: 1px solid var(--success);
    color: var(--success);
}


.btn-float{
    color: var(--text-white);
    background-color: var(--primary-light);
    font-size: 1rem;
    height: 3rem;
    width: 3rem;
    border: none;;
    border-radius: var(--radius-rounded);
}
.btn-float-outline{
    color: var(--primary-light);
    background-color: transparent;
    border: 1px solid var(--primary-light);
}

.link {
    text-decoration: underline;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: var(--primary-light);
}
.link-secondary{
    color: var(--gray-dark);
}


.btn:hover {
    filter: brightness(95%);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.btn-float:hover{
    filter: brightness(95%);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}